<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta charset="utf-8">

	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

	{{! Styles }}
	<link href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic%7CPlayfair+Display:400,400italic,700,700italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

	<!--[if lt IE 9]>
	<script src="{{asset "js/html5.js"}}"></script>
	<![endif]-->

	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	<div id="page" class="site">

		{{! The tag below includes the theme header - partials/header.hbs }}
		{{> header}}

		{{! The tag below includes the theme sidebar - partials/sidebar.hbs }}
		{{> sidebar}}

		{{! Everything else gets inserted here }}
		{{{body}}}

		{{! The tag below includes the theme footer - partials/footer.hbs }}
		{{> footer}}
		
	</div><!-- #page -->

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	{{! JavaScript files }}
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{{asset "js/plugins.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/custom.js"}}"></script>
</body>
</html>
